## 1.	Write a Python Program to Find the Factorial of a Number?

In [1]:
# The mathematical formula for find factorial is given by n! = n*(n-1)*......*1
# example 5! = 5*4*3*2*1 = 120
n = int(input("Enter the number : "))

factorial = 1 

if n == 0:
    print("factorial of 0! is 1")
elif n < 0:
    print("factorial does not exist for the negative numbers ")
else:
    for i in range(1,n+1):# we should add the one to input because direct input can be exculded 
        factorial = factorial*i
        print("The factorial of",n, "! is", factorial)

Enter the number : 5
The factorial of 5 ! is 1
The factorial of 5 ! is 2
The factorial of 5 ! is 6
The factorial of 5 ! is 24
The factorial of 5 ! is 120

In [ ]:
            # for the above program #
    
    
##  iteration                    ## factorial number 
## i = 1                         ## factorial = 1*1 =1
## i = 2                         ## factorial = 1*2 = 2
## i = 3                         ## factorial = 2*3 = 6
## i = 4                         ## factorial = 6*4 = 24
## i = 5                         ## factorial = 24*5 =120

## 2.	Write a Python Program to Display the multiplication Table?

### method-1 (displaying only selected multiplication table)

In [2]:
num = int(input("Enter the table : "))
for i in range(1,11):   # The range must be the 11 because it always excludes the upper bound 
    print(num, "X", i ,"=" ,num*i)

Enter the table : 9
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90

### Method - 2 (printing table upto the selected range  with 10 multiples)

In [3]:
A = int(input("Enter the '(last number + 1)'table Number upto the selected range  with 10 multiples "))
for table  in range(1,A):
    for i in range(1,11): 
        # The range must be the 11 because it always excludes the upper bound 
        print(table, "X", i ,"=" ,table*i)

Enter the '(last number + 1)'table Number upto the selected range  with 10 multiples 11
1 X 1 = 1
1 X 2 = 2
1 X 3 = 3
1 X 4 = 4
1 X 5 = 5
1 X 6 = 6
1 X 7 = 7
1 X 8 = 8
1 X 9 = 9
1 X 10 = 10
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
3 X 10 = 30
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
4 X 10 = 40
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
8 X 10 = 80
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81
9 X 10 = 90
10 X 1 = 10
10 X 2 = 20
10 X 3 = 30
10 X 4 = 40
10 X 5 = 50
10 X 6 = 60
10 X 7 = 70
10 X 8 = 80
10 X 9 = 90
10 X 10 = 100

## 3.	Write a Python Program to Print the Fibonacci sequence?

*Fibonacci sequence : Fibonacci sequence is also called as Fibonacci numbers.Fibonacci numbers or sequence is generated 
                     by summation of two number and then generating the third number. Then In order to generate the fourth                      number then summation of precceding of new number and then new number then fourth number is formed                          simillar pattern is followed upto the selected range
                     
    example: a = 0, b =1, c = a+b =>1 
    here a is first number  : 0
         b is second number : 1
         c is third number  : 1
         for fourth number  : 1+1 =2
         for fifth number   :2+1 = 3
         for sixth number   :2+3 = 5
            .....
            .....
            .....
            .....
            .....
            .....
            .....
simillary goes on the pattern

In [4]:

n = int(input("Enter the upper range number to generate"))
# let's create the empty list
l = []
# we have to create two variables 
a = 0
b = 1
for i in range(n):
    a,b = b,a+b
    l.append(a)


l

Enter the upper range number to generate20

[1,
 1,
 2,
 3,
 5,
 8,
 13,
 21,
 34,
 55,
 89,
 144,
 233,
 377,
 610,
 987,
 1597,
 2584,
 4181,
 6765]

## 4.	Write a Python Program to Check Armstrong Number?

Armstrong Number: Armstrong Number is defined as any number with any length then the summation of each and every  digit with raising power with length of  number, results to the same number is called Armstrong number.

Example : 
1  = (1*1)
370 = (3**3)+(7**3)+(0**3) ==  27 + 343 + 0 == 370
1634 = (1**4)+(6**4)+(3**4)+(4**4) == 1 + 1296 + 81 + 256 == 1634

In [5]:
n = input("enter the number : ") # we should not declare the int data type to input because int does not supports the "len"
l = len(n)
summation = 0

for i in range(0,l):
    d = int(n[i])
    summation = summation + d**l
if summation == int(n):
    print(n,"number is Armstrong number")
else:
    print(n,"number is not Armstrong number")

enter the number : 1634
1634 number is Armstrong number

## 5.	Write a Python Program to Find Armstrong Number in an Interval?

In [6]:
# giving inputs
lowerB = int(input("Enter the lower bound of interval : "))
upperB = int(input("Enter the upper bound of interval : "))
output = []  # empty list for the armstrong numbers
output1 = [] # empty lisf for the non armstorng numbers
for number in range(lowerB,upperB):
    order = len(str(number)) # finding the length of number
    summation = 0   # intitalize summation = 0 
    temp = number
    while temp > 0:
        d = temp%10
        summation = summation + d**order
        temp//=10
    if number == summation:
        output.append(number) # appending the numbers to the list
    else:
        output1.append(number)
        
print("The list of Armstrong numbers in interval {0} and {1} is : ".format(lowerB,upperB), output)

Enter the lower bound of interval : 1
Enter the upper bound of interval : 10000
The list of Armstrong numbers in interval 1 and 10000 is :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407, 1634, 8208, 9474]

## 6.	Write a Python Program to Find the Sum of Natural Numbers?

###  Method - 1(using while loop )

In [7]:
number = int(input("enter the number :: "))
if number <0:
    print("please enter only positive number : ")
else:
    summation = 0
    i = 0 
    while i < number: # while loop is used beacuse in order to iterate upto 0 value
        summation = summation + number 
        number = number - 1
print("The sum of the natural number upto entered number is : ",summation)

enter the number :: 30
The sum of the natural number upto entered number is :  465

### Method - 2 (using induction formula)

In [8]:
## By using mathematical induction formula we can obtain the sum of natural numbers
n = int(input("enter the number :: "))
sumofn = (n * (n+1))/2
print("The sum of the natural numbers upto entered number is : ",sumofn)

enter the number :: 30
The sum of the natural numbers upto entered number is :  465.0